:host ::ng-deep .p-carousel-indicator.p-highlight button {
    background-color: #1a73e8 ;
    border-color: #1a73e8 ;
    border-radius: 50%;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

:host ::ng-deep .p-carousel-indicator button {
    background-color: #555;
    border: 1px solid #fff;
    transition: all 1s ease;
    border-radius: 50%;
    cursor: pointer;
    width: 12px;
    height: 12px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}