@import "tailwindcss";
@import "tailwindcss/preflight" layer(base);

@layer base {

  *,
  ::before,
  ::after {
    border-style: none;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


:host ::ng-deep .p-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

:host ::ng-deep .p-carousel-indicators .p-carousel-indicator button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #888;
  border: none;
  margin: 0 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

:host ::ng-deep .p-carousel-indicators .p-carousel-indicator.p-highlight button {
  background-color: #4a90e2;
}

h1 {
  font-size: 2.5em;
  margin-block: 0.67em;
}