@import "tailwindcss";
@import "tailwindcss/preflight" layer(base);
@layer base {
          *, ::before, ::after {
            border-style: none; 
          }
        }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
